<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="layout :: frgHead">
<script
	th:src="@{https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js}"></script>


</head>
<body id="page-top">

	<div id="wrapper">
		<ul th:replace="layout :: frgSideBar"></ul>

		<div id="content-wrapper" class="d-flex flex-column">

			<div id="content">

				<nav th:replace="layout :: frgTopBar"></nav>

				<!-- Begin Page Content -->
				<div class="container-fluid">

					<h1 th:text="${title}"></h1>

					<div class="modal-body col col-sm-6">
						<form th:action="@{/usuario/postEditUser} "
							id="changePasswordForm" method="post" class="form" role="form">
							<input class="form-control" type="hidden">
							<div class="form-group row">
								<label class="col-lg-3 col-form-label 	form-control-label">Contrase&ntilde;a
									actual</label>

								<div class="col-lg-9">
									<input class="form-control" type="password"
										name="currentPassword" id="currentPassword"
										onkeyup="ValidarContrasenaActual()" maxlength="20">
									<div class="alert alert-danger d-none" id="lblErrCurrentPassword">La
										contrase&ntilde;a actual y la ingresada no coinciden</div>
								</div>
							</div>
							<div class="form-group row">
								<label class="col-lg-3 col-form-label 	form-control-label">Nueva
									contrase&ntilde;a </label>
								<div class="col-lg-9">
									<input class="form-control" type="password" name="newPassword"
										id="newPassword" onkeyup="ValidarContrasenas()" maxlength="20">
									<div class="alert alert-danger d-none" id="lblLegthError">La
										contrase&ntilde;a debe tener al menos 8 caracteres</div>
									<!-- <div class="alert-danger">Password</div> -->
								</div>
							</div>
							<div class="form-group row">
								<label class="col-lg-3 col-form-label form-control-label">Confirme
									la nueva cotrase&ntilde;a </label>
								<div class="col-lg-9">
									<input class="form-control" type="password"
										name="confirmPassword" id="confirmPassword"
										onkeyup="ValidarContrasenas()" maxlength="20">

									<div class="alert-danger d-none" id="lblErrNewPassword">Las
										contrase&ntilde;as no coinciden</div>
								</div>
							</div>
							<div class="col-lg-12">
								<div class="alert alert-danger d-none text-center"
									id="changePasswordError">Change Password Error</div>
							</div>
							<div class="modal-footer col col-sm-6">

								<button type="submit" class="btn btn-primary" id="btnGuardar">Guardar</button>
							</div>

						</form>
					</div>


				</div>
				<!-- /.container-fluid -->

			</div>

			<footer th:replace="layout :: frgFooter"></footer>

			<div th:replace="layout :: frgScripts"></div>

			<script th:src="@{/js/usuario/cambiar-contrasena.js}">
			
			</script>
		</div>


	</div>

</body>
</html>
