<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="layout :: frgHead"></head>
<body class="bg-gradient-primary">

 <div class="container">

    <!-- Outer Row -->
    <div class="row justify-content-center">

      <div class="col-xl-6 col-lg-6 col-md-9">

        <div class="card o-hidden border-0 shadow-lg my-5">
          <div class="card-body p-0">
            <!-- Nested Row within Card Body -->
            <div class="row">
             <!--   <div class="col-lg-6 d-none d-lg-block bg-login-image"></div>-->
             <!--   <img th:src="@{/img/logo_pjl.png}"class="img-fluid img-thumbnail" style="width:275px;height:273px;"  >-->
             
              <div class="col-lg-12">
                <div class="p-5">
                  <div class="text-center">
                    <h1 class="h4 text-gray-900 mb-4">Bienvenido!</h1>
                  </div>
                  <!-- FORM LOGIN -->
                  <form class="user" th:action="@{/login}" method="post">
                    <div class="form-group">
                    <!-- USUARIO -->
                      <input type="text	" class="form-control form-control-user" name="username" id="username"  placeholder="Nombre de usuario">
                    </div>
                    <div class="form-group">
                    <!-- CONTRASEÑA -->
                      <input type="password" class="form-control form-control-user" name="password" id="password" placeholder="Contrase&ntilde;a">
                    </div>
                    <div class="form-group">
                      
                    </div>
                    <button  type="submit" class="btn btn-primary btn-user btn-block">
                      Login
                    </button>
                   
                    
                  </form>
                
                 
                </div>
              </div>
            </div>
          </div>
        </div>

      </div>

    </div>

  </div>

	
			
			<div th:replace="layout :: frgScripts"></div>


</body>
</html> 