<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="layout :: frgHead">
<script
	th:src="@{https://cdnjs.cloudflare.com/ajax/libs/jspdf/2.1.1/jspdf.umd.min.js}"></script>
</head>
<body id="page-top">

	<div id="wrapper">
		<ul th:replace="layout :: frgSideBar"></ul>

		<div id="content-wrapper" class="d-flex flex-column">

			<div id="content">

				<nav th:replace="layout :: frgTopBar"></nav>

				<!-- Begin Page Content -->
				<div class="container-fluid">

					<h1 th:text="${title}"></h1>

					<!-- <form > -->
					<label> Ingrese la fecha que desea obtener el reporte</label>

					<div class="row">
						<div class="form-group class col col-sm-3">
							<input type="date" class="form-control" id="fecha" name="fecha" />
						</div>
						<div class="col">
							<button class="btn btn-primary" onclick="ConsultarTramites()">Consultar</button>
						</div>

					</div>
					<br>
					<!-- Alertas -->
					<div class="alert alert-danger d-none" id="lblErrFecha">Debe
						seleccionar una fecha</div>
					<div class="alert alert-primary d-none" role="alert"
						id="lblErrNoTram">No se han encontrado tr&aacute;mites en
						esta fecha, intenta con otra.</div>

					<!-- DataTales Example -->
					<div class="card shadow mb-4  d-none" id="table">
						<div class="card-header py-3">

							<div class="container">
								<div class="row justify-content-md-center">

									<div class="col">
										<h5 id="lblTituloRep"></h5>
									</div>


									<div class="col-md-auto">
										<!--  <a href="#"
											class="d-none d-sm-inline-block btn btn-sm btn-primary shadow-sm"><i
											class="fas fa-download fa-sm text-white-50"></i> Generar
											Reporte</a>-->
									<!--  <form action="/reportTramite/report" method="get">-->
									
									<input type="hidden" id="fechaAux" name="fechaAux">
									
										<button type="submit" onclick="GenerarReporte()" 
											class="d-none d-sm-inline-block btn btn-sm btn-primary shadow-sm"><i
											class="fas fa-download fa-sm text-white-50"></i> Generar
											Reporte</button>
					
									<!--  </form>-->
									

									</div>
								</div>

							</div>
						</div>
						<div class="col col-md-8">


							<!-- <a href="#"
							class="d-none d-sm-inline-block btn btn-sm btn-primary shadow-sm"><i
							class="fas fa-download fa-sm text-white-50"></i> Generate Report</a> -->
						</div>
						<!-- Tabla -->
						<div class="card-body">
							<div class="table-responsive">
								<table class="table table-bordered" id="dataTable" width="100%"
									cellspacing="0">

									<thead>
										<tr>
											<th>#</th>
											<th>Identificacion Solicitante</th>
											<th>Nombre Solicitante</th>
											<th>Asunto</th>
											<th>Fecha Ingreso</th>
											<th>Hora Ingreso</th>

										</tr>
									</thead>
									<tfoot>
										<tr>
											<th>#</th>
											<th>Identificacion Solicitante</th>
											<th>Nombre Solicitante</th>
											<th>Asunto</th>
											<th>Fecha Ingreso</th>
											<th>Hora Ingreso</th>

										</tr>
									</tfoot>


								</table>
								
							</div>

						</div>


					</div>



				</div>
				<div>


					<footer th:replace="layout :: frgFooter"></footer>

					<div th:replace="layout :: frgScripts"></div>


					<script type="text/javascript">
						
						let fechaAux = ""; 
					
					
						function ConsultarTramites() {
							let fecha = $('#fecha').val();
							//let fechaAux = $('#fechaAux').val();
							fechaAux = fecha;						
							//alert(fechaAux);
							
							if(fecha.length != 0){
								$("#lblErrFecha").addClass("d-none");
								$('#fechaAux').val(fecha);
								console.log("Aux : " ,fechaAux );
							
								$.ajax({
									url : "/tramite/getTramitesOneDate/"
											+ fecha + "/",
									method : 'GET',
									success : function(response) {
										//console.log(response);
										let tramites = [];
										tramites = response;
										console.log('Tramites', tramites);
										
										if(tramites.length != 0){
											$("#lblErrNoTram").addClass("d-none");
											
											document.getElementById('lblTituloRep').innerHTML = 'Reporte de tramites ingresados en '+ fecha;
											$("#table").removeClass("d-none");
											$(".odd").remove();
											$(".other").remove();
											//for(var i=0; i<=tramites.length; i++){
											for(t of tramites){
												console.log(t);
												
												var fila = '<tr id="row" class="other"><td>'
												+ t.idTramite
												+ '</td><td>'
												+ t.solicitante.identificacion
												+ '</td><td>'
												+ t.solicitante.nombre
												+ '</td><td>'
												+ t.asunto
												+ '</td><td>'
												+ t.fechaIngreso.substring(0,10)											
												+ '</td><td>'
												+ t.horaIngreso
												+ '</td></tr>'; //esto seria lo que contendria la fila
												
												
												$('#dataTable tr:first').after(fila);
											
											}
										}else{
											$("#lblErrNoTram").removeClass("d-none");
											$("#table").addClass("d-none");
										}
									},
									error : function(err) {
										console.error(err);
										//console.error(err.responseText);
									}
								});
								}else{
									$("#lblErrFecha").removeClass("d-none");	
								}
								
							}
							
							
							function GenerarReporte(){
								
								if(fechaAux.length != 0){
									
									$.ajax({
										url : "/reportTramite/report/"
												+ fechaAux + "/",
										method : 'GET',
										success : function(response) {
											
											console.log(response);
											//swal("Reporte Generado", response , "success");
											Swal.fire({
												title: 'Reporte Generado',
												  text: response,
												  icon: 'success',
										
												  confirmButtonText: 'ok'
											}).then(function (result) {
											    if (result.value) {
											    	//window.location.href = "delete/"+id
											    	console.log(result);
											    } 
											})
										},
										error : function(err) {
											console.error(err);
											console.error(err.responseText);
										}
									});
									
								}else{
									alert("fechaAux vacio")
								}
								
								
								
								
							
								
							}
							
							
							
							
	
					</script>
				</div>


			</div>
</body>
</html>
