<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="layout :: frgHead">
<script
	th:src="@{https://cdnjs.cloudflare.com/ajax/libs/jspdf/2.1.1/jspdf.umd.min.js}"></script>
</head>
<body id="page-top">

	<div id="wrapper">
		<ul th:replace="layout :: frgSideBar"></ul>

		<div id="content-wrapper" class="d-flex flex-column">

			<div id="content">

				<nav th:replace="layout :: frgTopBar"></nav>

				<!-- Begin Page Content -->
				<div class="container-fluid">

					<h1 th:text="${title}"></h1>

					<!-- <form > -->
					<label> Ingrese las fechas que desea obtener el reporte</label>

					<div class="row">
						<!-- Desde -->
						<div class="col">

							<div class="form-group class col col-sm-8">
								<label for="exampleFormControlFile1">Desde </label> <input
									type="date" class="form-control" id="desde" name="desde" />
								<div class="alert alert-danger  d-none" id="lblDesdeFecha">Debe
									seleccionar una fecha de inicio</div>
							</div>

						</div>
						<!-- Hasta -->
						<div class="col">
							<label for="exampleFormControlFile1">Hasta</label>
							<div class="form-group class col col-sm-8">
								<input type="date" class="form-control" id="hasta" name="hasta" />
								<div class="alert alert-danger d-none" id="lblHastaFecha">Debe
									seleccionar una fecha fin</div>
							</div>


						</div>
						<!-- Consultar -->
						<div class="col">
							<br>
							<button class="btn btn-primary btn-lg"
								onclick="ConsultarTramites()">Consultar</button>
						</div>


					</div>
					<br>
					<!-- Alertas -->

					<div class="alert alert-primary d-none" role="alert"
						id="lblErrNoTram">No se han encontrado tr&aacute;mites en
						esta fecha, intenta con otra.</div>

					<!-- DataTales Example -->
					<div class="card shadow mb-4  d-none" id="table">
						<div class="card-header py-3">

							<div class="container">
								<div class="row justify-content-md-center">

									<div class="col">
										<h5 id="lblTituloRep"></h5>
									</div>


									<div class="col-md-auto">

										<div class="row">
											<div class="col">
												<input type="radio" id="male" name="format" value="excel">
												<label for="male">Excel</label> <input type="radio"
													id="male" name="format" value="pdf" checked> <label
													for="male">Pdf</label>
											</div>

											<div class="col">
												<button onclick="GenerarReporte()"
													class="btn btn-primary text-nowrap" type="button">
													<span class="spinner-border spinner-border-sm mr-2 d-none"
														id="spnSpinner"></span> Generar Reporte <i
														class="fas fa-download fa-sm text-white-50"> <span
														class="spinner-border spinner-border-sm mr-2"></span>

													</i>
												</button>

											</div>
										</div>


									</div>
								</div>

							</div>
						</div>
						<div class="col col-md-8">


							<!-- <a href="#"
							class="d-none d-sm-inline-block btn btn-sm btn-primary shadow-sm"><i
							class="fas fa-download fa-sm text-white-50"></i> Generate Report</a> -->
						</div>
						<!-- Tabla -->
						<div class="card-body">
							<div class="table-responsive">
								<table class="table table-bordered" id="dataTable" width="100%"
									cellspacing="0">

									<thead>
										<tr>
											<th>#</th>
											<th>Identificacion Solicitante</th>
											<th>Nombre Solicitante</th>
											<th>Asunto</th>
											<th>Fecha Ingreso</th>
											<th>Hora Ingreso</th>

										</tr>
									</thead>
									<tfoot>
										<tr>
											<th>#</th>
											<th>Identificacion Solicitante</th>
											<th>Nombre Solicitante</th>
											<th>Asunto</th>
											<th>Fecha Ingreso</th>
											<th>Hora Ingreso</th>

										</tr>
									</tfoot>


								</table>

							</div>

						</div>

					</div>

				</div>
				<div>


					<footer th:replace="layout :: frgFooter"></footer>

					<div th:replace="layout :: frgScripts"></div>


					<script th:src="@{/js/tramite/consultar-generar-reporte-dos-fechas.js}"></script>
				</div>


			</div>
</body>
</html>
